.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;content:""}.clearfix:after{clear:both}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: #fff;
}

a, a:hover, a:active {
    text-decoration: none
}

a {
    color: hsl(315, 75%, 50%);
}

body {
    font-family: "proxima-nova", "Helvetica Neue", sans-serif;
}

@media (min-width: 1700px) { html { font-size: 188%; } }
@media (max-width: 1700px) { html { font-size: 188%; } }
@media (max-width: 1680px) { html { font-size: 186%; } }
@media (max-width: 1660px) { html { font-size: 184%; } }
@media (max-width: 1640px) { html { font-size: 182%; } }
@media (max-width: 1620px) { html { font-size: 180%; } }
@media (max-width: 1600px) { html { font-size: 178%; } }
@media (max-width: 1580px) { html { font-size: 176%; } }
@media (max-width: 1560px) { html { font-size: 174%; } }
@media (max-width: 1540px) { html { font-size: 172%; } }
@media (max-width: 1520px) { html { font-size: 170%; } }
@media (max-width: 767px) { html { font-size: 100%; } }

h2, h3, h4, h5 {
    font-weight: normal;
    margin: .67em 0;
}

body {
    color: #444;
    padding: 3rem 0;
}

.section {
    padding: 1rem;
    max-width: 21rem;
    margin: 0 auto;
}

h1 {
    font-size: 2.2rem;
    margin-top: 0;
}

h2 {
    font-size: 1.4rem;
}

.twitter-embed-code-inline-wrap {
    display: inline-block;
    position: relative;
    top: 8px;
    padding: 0 4px;
    line-height: 1;
}

.twitter-embed-code-inline {
    position: relative;
    overflow: hidden;
    height: 33px;
    width: 102px;
}

.twitter-embed-code-inline iframe {
    position: absolute;
    top: 0;
    left: 0;
}

.step {
    margin: 1.5rem 0;
}

.step > h3 {
    font-size: 1rem;
}

.step > h3 > span {
    color: #fff;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: .7rem;
    line-height: 0.96rem;
    margin-left: -1.5rem;
    margin-right: .5rem;
    vertical-align: top;
    margin-top: .11rem;
}

.step-inner p {
    font-size: .7rem;
}

textarea {
    background: #eee;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    outline: none;
    height: 6rem;
    font-size: 0.4rem;
    padding: 0.2rem;
    color: #888;
    overflow: hidden;
}

textarea:focus {
    color: inherit;
}

@media (max-width: 568px) {
    body {
        padding: 0;
    }

    .step > h3 > span {
        margin-left: 0;
    }

    .section {
        max-width: 100%;
    }
}

.slider {
    height: 1rem;
    width: 100%;
    background: -webkit-linear-gradient(left, hsl(0, 85%, 55%), hsl(300, 85%, 55%), hsl(240, 85%, 55%), hsl(180, 85%, 55%), hsl(120, 85%, 55%), hsl(60, 85%, 55%), hsl(0, 85%, 55%));
}
