.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;content:""}.clearfix:after{clear:both}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: #fff;
}

a, a:hover, a:active {
    text-decoration: none
}

body {
    font-family: "proxima-nova", "Helvetica Neue", sans-serif;
}

@media (min-width: 1700px) { html { font-size: 188%; } }
@media (max-width: 1700px) { html { font-size: 188%; } }
@media (max-width: 1680px) { html { font-size: 186%; } }
@media (max-width: 1660px) { html { font-size: 184%; } }
@media (max-width: 1640px) { html { font-size: 182%; } }
@media (max-width: 1620px) { html { font-size: 180%; } }
@media (max-width: 1600px) { html { font-size: 178%; } }
@media (max-width: 1580px) { html { font-size: 176%; } }
@media (max-width: 1560px) { html { font-size: 174%; } }
@media (max-width: 1540px) { html { font-size: 172%; } }
@media (max-width: 1520px) { html { font-size: 170%; } }
@media (max-width: 1500px) { html { font-size: 168%; } }
@media (max-width: 1480px) { html { font-size: 166%; } }
@media (max-width: 1460px) { html { font-size: 164%; } }
@media (max-width: 1440px) { html { font-size: 162%; } }
@media (max-width: 1420px) { html { font-size: 160%; } }
@media (max-width: 1400px) { html { font-size: 158%; } }
@media (max-width: 1380px) { html { font-size: 156%; } }
@media (max-width: 1360px) { html { font-size: 154%; } }
@media (max-width: 1340px) { html { font-size: 152%; } }
@media (max-width: 1320px) { html { font-size: 150%; } }
@media (max-width: 1300px) { html { font-size: 148%; } }
@media (max-width: 1280px) { html { font-size: 146%; } }
@media (max-width: 1260px) { html { font-size: 144%; } }
@media (max-width: 1240px) { html { font-size: 142%; } }
@media (max-width: 1220px) { html { font-size: 140%; } }
@media (max-width: 1200px) { html { font-size: 138%; } }
@media (max-width: 1180px) { html { font-size: 136%; } }
@media (max-width: 1160px) { html { font-size: 134%; } }
@media (max-width: 1140px) { html { font-size: 132%; } }
@media (max-width: 1120px) { html { font-size: 130%; } }
@media (max-width: 1100px) { html { font-size: 128%; } }
@media (max-width: 1080px) { html { font-size: 126%; } }
@media (max-width: 1060px) { html { font-size: 124%; } }
@media (max-width: 1040px) { html { font-size: 122%; } }
@media (max-width: 1020px) { html { font-size: 120%; } }
@media (max-width: 1000px) { html { font-size: 118%; } }
@media (max-width: 980px) { html { font-size: 116%; } }
@media (max-width: 960px) { html { font-size: 114%; } }
@media (max-width: 940px) { html { font-size: 112%; } }
@media (max-width: 920px) { html { font-size: 110%; } }
@media (max-width: 900px) { html { font-size: 108%; } }
@media (max-width: 880px) { html { font-size: 106%; } }
@media (max-width: 860px) { html { font-size: 104%; } }
@media (max-width: 840px) { html { font-size: 102%; } }
@media (max-width: 820px) { html { font-size: 100%; } }

h2, h3, h4, h5 {
    font-weight: normal;
    margin: .67em 0;
}

body {
    color: #444;
    padding: 3rem 0;
}

.section {
    padding: 1rem;
    max-width: 21rem;
    margin: 0 auto;
}

h1 {
    font-size: 2.2rem;
    margin-top: 0;
}

h2 {
    font-size: 1.4rem;
}

.twitter-embed-code-inline-wrap {
    display: inline-block;
    position: relative;
    top: 8px;
    padding: 0 4px;
    line-height: 1;
}

.twitter-embed-code-inline {
    position: relative;
    overflow: hidden;
    height: 33px;
    width: 102px;
}

.twitter-embed-code-inline iframe {
    position: absolute;
    top: 0;
    left: 0;
}

.step {
    margin: 1.5rem 0;
}

.step > h3 {
    font-size: 1rem;
}

.step > h3 > span {
    color: #fff;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: .7rem;
    line-height: 0.96rem;
    margin-left: -1.5rem;
    margin-right: .5rem;
    vertical-align: top;
    margin-top: .11rem;
}

textarea {
    background: #eee;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    outline: none;
    height: 6rem;
    font-size: 0.4rem;
    padding: 0.2rem;
    color: #888;
    overflow: hidden;
}

textarea:focus {
    color: inherit;
}

@media (max-width: 568px) {
    body {
        padding: 0;
    }

    .step > h3 > span {
        margin-left: 0;
    }

    .section {
        max-width: 100%;
    }
}

.slider {
    height: 1rem;
    width: 100%;
    background: -webkit-linear-gradient(left, hsl(0, 85%, 55%), hsl(300, 85%, 55%), hsl(240, 85%, 55%), hsl(180, 85%, 55%), hsl(120, 85%, 55%), hsl(60, 85%, 55%), hsl(0, 85%, 55%));
}